input#getlink{display:none}
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{padding:0;border:0;outline:0;vertical-align:baseline;background:100% 0}
ins{text-decoration:underline}
del{text-decoration:line-through}
dl,ul{list-style-position:inside;font-weight:400;list-style:none}
ul li{list-style:none}
caption,th{text-align:center}
img{border:none;position:relative}
a{color:#0000FF}
a,a:visited{text-decoration:none}
.clear{clear:both}
.section,.widget,.widget ul{margin:0;padding:0}
:focus{outline:0}
a img{border:0}
abbr{text-decoration:none}
.CSS_LIGHTBOX{z-index:999999!important}
.separator a{clear:none!important;float:none!important;margin-right:0!important;margin-left:0!important}
#navbar-iframe{display:none;height:0;visibility:hidden}
.widget-item-control,a.quickedit{display:none!important}
.index .home-link,.home-link{display:none!important}
.status-msg-wrap{margin:0 auto 20px;text-transform:uppercase;font-size:11px}
.status-msg-border{border:1px solid #eee;opacity:.7;border-radius:0}
.status-msg-bg{background-color:#f8f8f8;opacity:1;filter:none}
.status-msg-body{padding:7px 0;background:#fff}
.feed-links{clear:both;display:none;line-height:2.5em}
.widget li,.BlogArchive #ArchiveList ul.flat li{padding:0}
.post-header,.entry-footer{line-height:inherit}
body{background:#fff;color:#323232;font-weight:400;word-wrap:break-word;margin:0;padding:0}
#outer-wrapper{width:100%;margin:0 auto;background-color:#fff}
.row{width:1083px}
#content-wrapper{margin:24px auto;overflow:hidden}
#main-wrapper{float:right;overflow:hidden;width:69%;margin:0;padding:0;box-sizing:border-box;word-wrap:break-word}
#sidebar-wrapper{float:left;overflow:hidden;width:31%;box-sizing:border-box;word-wrap:break-word;padding-bottom:0;padding-right:15px}
#header-wrapper{position:relative;width:100%;z-index:100;background:#fff;display:block}
.site-branding{position:relative;margin:0 auto;padding:11px 0;display:table}
.navigation-top{position:relative;width:100%;height:52px;background-color:#4db2ec;z-index:100;margin:0}
.navigation-top .wrap{padding:0;position:fixe}
.navigation-top a{color:#fff}
.current-menu-item{background:rgba(0,0,0,0.2)}
.nav-content{position:relative;height:50px;margin:0 auto;padding:0}
.header-logo{float:right;width:auto;z-index:15;margin:0;padding:0}
.header-logo img{width:250px;height:100%;margin:0}
.Header h1{color:#333;margin:0;font-size:20px;line-height:1.4em}
.header-ads{float:left;width:728px;height:auto}
.header-ads h2,#ads-home h2{display:none!important}
.tm-head{margin:0 auto;line-height:35px;overflow:hidden}
.tm-menu{float:right}
.tm-menu2{float:left}
#nav1 li{float:right;position:relative;color:#fff;font-size:15px;font-weight:400;line-height:40px;display:inline-block;text-transform:none;text-decoration:none;margin:0;padding:0 10px}
#nav1 li a{color:#323232;font-size:14px;font-weight:400;text-transform:none;margin-left:17px!important}
.selectnav{display:none;background-color:#333333;padding:2px 5px;box-sizing:border-box;border:0}
.social-area{float:left;background:linear-gradient(-90deg,#ffffff 0%,#ffffff -5%,#4db2ec 30%,#4db2ec 30%,#4db2ec 100%);height:41px;padding:0 50px 0 10px}
.tm-head #social-top{position:relative;display:block;margin-left:0}
.tm-head #social-top ul{overflow:hidden;margin-left:-7px}
.tm-head #social-top ul li{height:32px;line-height:32px;display:block;float:right;margin-right:5px;padding:0}
.tm-head #social-top ul li a{display:block;float:right;color:#fff;text-decoration:none;font-size:14px;text-align:center;line-height:40px;padding:0 7px}
.tm-head #social-top ul li a:hover{color:#fff}
#menu{float:right;height:36px;z-index:10}
#menu .widget{display:block}
#menu ul > li{float:right;position:relative;margin:2px 0;padding:0;transition:background .3s}
#menu ul > li > ul > li:first-child{background-color:transparent;margin:0}
#menu ul > li > a{position:relative;color:#fff;font-size:16px;line-height:42px;display:flex;text-transform:uppercase;text-decoration:none;margin:3px 0;padding:0 14px;border-radius:4px}
#menu ul > li > a:hover{background-color:rgba(0,0,0,0.2)}
#menu ul > li > a i{padding-left:0}
#menu ul > li:hover > a{color:#fff}
#menu ul > li > ul{transition:all .3s ease-out;position:absolute;float:right;right:0;top:101%;width:180px;background-color:#323232;border-top:5px solid #4db2ec!important;z-index:99999;margin-top:0;padding:5px;visibility:hidden;opacity:0}
#menu ul > li > ul > li{display:block;float:none;position:relative;margin:0;transition:background .3s}
#menu ul > li > ul > li:hover{background-color:rgba(255,255,255,0.01)}
#menu ul > li > ul > li a{background:transparent;display:block;height:40px;line-height:40px;font-size:15px;color:#fff;font-weight:300;text-decoration:none;box-sizing:border-box;margin:0;padding:0 15px;border:0;transition:color .3s;text-transform:none;transition:.4s}
#menu ul > li > ul > li a:hover{background:#fff1}
#menu ul > li > ul > li:hover > a{color:#fff}
#menu ul > li > ul > li:last-child a{border-bottom:0}
#menu .widget,.mega-menu{position:static!important}
#menu ul > li:hover > ul{opacity:1;visibility:visible;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}
#menu .mega-menu > ul{width:100%;box-sizing:border-box;padding:15px 7.5px;border-top:0;top:100%}
#menu ul > li:hover > ul,#menu ul > li > ul > li:hover > ul{opacity:1;visibility:visible;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}
.mobile-menu{display:none;float:right}
.mobile-menu .nav-toggle{display:block;float:right;line-height:42px;height:42px;width:auto;color:#fff;font-size:18px;text-align:center;cursor:pointer;padding:0}
.mobile-menu .nav-toggle:hover,.show-menu .mobile-menu .nav-toggle:hover{color:#fff}
.mobile-menu .nav-toggle span{margin-right:10px}
.mobile-menu #nav2{position:absolute;overflow:hidden;top:52px;right:0;width:100%;background-color:#333;margin:0;padding:0;z-index:15;text-transform:uppercase;font-weight:600;font-size:12px;visibility:hidden;opacity:0;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);transform:translateY(10px);transition:all .3s ease}
.show-menu .mobile-menu #nav2{opacity:1;visibility:visible;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}
.mobile-menu ul li{position:relative;display:block;overflow:hidden;float:right;width:100%;line-height:36px;margin:0;border-top:1px solid rgba(255,255,255,0.03);font-size:13px;font-weight:400;text-transform:uppercase}
li.has-sub.show:last-child{padding-bottom:0!important}
.mobile-menu > ul > li:first-child{border-top:0}
.mobile-menu ul li a{color:#fff;padding:0 10px 0 0;display:block;font-weight:400}
.mobile-menu > ul > li ul{background-color:rgba(255,255,255,0.02);overflow:hidden}
.mobile-menu > ul > li > ul > li > a{padding-right:20px}
.mobile-menu .sub-menu{display:none}
.widget-meta{color:#aaa;font-size:11px;font-weight:400}
.featuresliderpost .widget > h2{font-size:14px;font-weight:400;text-transform:uppercase;color:#aaa;padding:0 0 5px;display:none}
#PopularPosts1 .ty-meta{display:none}
.ty-meta{display:block;color:#222;font-size:11px;text-transform:none}
.home-ad{background:#fff;margin:0 0 15px;padding:10px 10px 8px;display:none}
.home-ad .widget > h2{display:none}
.home-ad .widget{position:relative;overflow:hidden;max-height:90px;margin:0;padding:0}
.home-ad .widget-content{width:100%;max-width:100%;max-height:90px}
.item .post-title{color:#333;position:relative;display:block;margin:0}
header.entry-header-single{color:#000;font-size:15px;font-weight:bold;position:relative;display:block;margin:0;padding:10px;text-align:center}
.static_page .post-title{margin-bottom:0}
.static_page .ty-inner{margin:10px 0 0;border-top:1px solid #eee}
.item .post-body{width:100%;color:#000;font-size:17px;overflow:hidden;padding:0}
.item .post-outer{padding:0}
.item .post-body img{max-width:100%;margin:15px 0}
.type-post * {line-height:2}
.widget .type-post li {margin:0 30px;padding:0;list-style:disc}
.main .widget{margin:0}
.main .Blog{border-bottom-width:0}
.entry-footer{margin-top:20px}
/* End */
.sharearea{width: 100%;margin:7px 0}
.sharearea .content{padding:0 10px;text-align:center}
.sharearea .content ul{margin:15px auto}
.sharearea .content ul li{display:inline-block;margin:0 2px;text-align:center}
.sharearea .content ul li a{color:#323232;display:flex;font-size:20px;height:40px;width:40px;margin:2px 0;align-items:center;justify-content:center;border-radius:4px;}
.sharearea .content ul li a:hover{background-color:#ffffff;color:#4db2ec}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{font-size:20px;font-weight:700;color:#323232;text-transform:uppercase;margin:12px 0;line-height:1.5em}
.post blockquote,.post pre{font-size:16px;background:#fafafa;color:#23282d;border-radius:4px;box-sizing:border-box;padding:10px;margin:5px 0;overflow:auto;word-wrap:normal;position:relative;height:100%;max-height:350px;white-space:pre-wrap;border:1px solid #ccc;font-family:inherit}
blockquote::-webkit-scrollbar,blockquote::-moz-scrollbar,blockquote code::-webkit-scrollbar,blockquote code::-moz-scrollbar,code::-webkit-scrollbar,code::-moz-scrollbar{display:none}
blockquote mark,code mark,blockquote code mark{background-color:#f39c12!important;color:#fff!important;padding:2px;margin:0 2px;border-radius:2px}
blockquote:before{position:fixed;top:0;right:0;font-size:20px;font-weight:600;text-transform:uppercase;background:white;color:#4db2ec;width:100%;text-align:center;padding:15px 0;line-height:1;opacity:0;visibility:hidden;transform:scaleY(0);z-index:99;-webkit-transition:all .6s;-moz-transition:all .6s;-o-transition:all .6s;letter-spacing:0;box-shadow:0 6px 6px rgba(0,0,0,.1)}
blockquote:hover:before{transform:scaleY(1);opacity:1;visibility:visible;transition:all .5s}
.post blockquote,.post pre,.post code{-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select:all}
#sidebar-wrapper .widget{margin-bottom:15px}
.sidebar .title{display:block;text-align:center}
.sidebar .title span{color:#333333;display:block;font-size:18px;font-weight:bold;padding:0 0 10px;position:relative}
.sidebar .title span:before{background-color:#4db2ec;bottom:-4px;content:"";height:6px;left:0;margin:0 auto;position:absolute;right:0;width:20%}
.sidebar .widget > h2{position:relative;color:#4db2ec;font-size:22px;font-weight:400;margin:0 0 10px;padding:0 0 4px;border-bottom:2px solid #4db2ec;line-height:normal}
.custom-widget li{overflow:hidden;padding:15px 0;border-top:1px solid #eee}
.custom-widget .custom-thumb{position:relative;float:right;width:90px;height:65px;overflow:hidden;display:block;vertical-align:middle;margin:0!important;border-radius:4px}
.custom-widget .custom-thumb:after{content:'';display:block;position:absolute;width:100%;height:100%;z-index:10;top:0;right:0;background:rgba(0,0,0,0);transition:background .3s}
.custom-widget .custom-thumb:hover:after{background:rgba(30,30,30,0.1)}
.custom-widget .custom-thumb img{position:relative;width:90px;height:65px;display:block}
.custom-widget .ty-entry{padding-right:15px;display:table-cell}
.custom-widget .ty-title{font-size:14px;font-weight:400;line-height:1.4em;margin:0 0 5px;padding:0}
.custom-widget .ty-title a{color:#333333;transition:color .3s}
.custom-widget .ty-title a:hover{color:#27db80}
.sidebar ul{list-style:none}
.sidebar .widget-content{margin-bottom:15px;overflow:hidden;padding:12px 10px;background:#fff;box-shadow:0 0 3px rgba(0,0,0,.05);border:1px solid #dfe0e4;border-radius:4px}
#footer-wrapper{background:#ffffff;box-shadow:0 0 3px rgba(0,0,0,.05);border-top:2px solid #dfe0e4}
#footer{position:relative;overflow:hidden;margin:0 auto;padding:10px 0}
.footer-wrapper{width:100%;overflow:hidden;background:#4db2ec;color:#fff;display:block;padding:0}
.footer-wrapper .footer-copy{overflow:hidden;margin:0 auto;padding:10px 0}
#social-footer{float:left;position:relative;display:block;margin-left:0}
.social-ico ul{overflow:hidden}
.social-ico ul > li{display:inline-block;float:right;margin:0 14px 0 0;padding:0}
#footer-wrapper .widget-content{margin-bottom:15px;overflow:hidden;padding:12px 10px}
#footer-wrapper .title{display:block;text-align:center}
#footer-wrapper .title span{color:#333333;display:block;font-size:20px;font-weight:bold;padding:0 0 10px;position:relative}
#footer-wrapper .title span:before{background-color:#4db2ec;bottom:-4px;content:"";height:6px;left:0;margin:0 auto;position:absolute;right:0;width:20%}
.social-ico ul > li > a{display:flex;float:right;color:#ffffff;text-decoration:none;font-size:15px;padding:0;transition:color .3s;width:25px;height:35px;border-radius:100%;align-items:center; justify-content:center;}
.social-ico ul > li > a:hover{background:#4db2ec}
.social-ico ul > li:last-child > a{padding-left:0}
.footer-wrapper .copyright{font-size:15px;float:right;display:flex;height:30px;color:#fff}
.footer-wrapper .copyright a{color:#fff;margin:0 3px;text-decoration:underline}
.footer-wrapper .copyright a:hover{color:#fff}
#error-wrap{color:#333;text-align:center;padding:60px 0 80px}
.error-item{font-size:160px;line-height:1;margin-bottom:20px}
#error-wrap h2{font-size:25px;padding:20px 0 10px}
#error-wrap .homepage{display:inline-block;padding:10px 30px;background:#4db2ec;color:#fff;font-weight:600;margin:10px 10px 0}
#error-wrap .homepage:hover{text-decoration:underline}
section.widget_info_blog{padding:0!important;overflow:hidden;background:transparent!important;border-radius:4px!important}
.col-widget.so-bai{border-left:1px solid #ccc;border-bottom:1px solid #ccc}
.col-widget.so-cau-hoi{border-bottom:1px solid #ccc}
.col-widget.so-comment{border-left:1px solid #ccc}
.feau{height:100px;background:linear-gradient(#075eac,#1a75c6);font-size:25px;color:#fff;padding:5px 0;text-align:center}
.logo-widget img{max-height:80px;border:5px solid #fff;border-radius:50%;margin-top:-40px;margin-right:calc(50% - 40px);background:#4d90fe}
.info{float:right;width:100%;background:#f2f2f2;min-height:50px;margin-top:-45px;padding:5px}
.col-widget{float:right;width:49.5%;text-align:center;height:35px;line-height:35px;font-size:15px;color:#222}
.ktkbox-wrap{display:block;margin:14px auto;position:relative;margin-bottom:3px}
.ktkbox-wrap .bsdextend{width:100%;display:block}
.bsdextend{text-align:center;font-size:17px}
.bsdextend .ktkbox-icon{display:inline-block;border:0;margin:0;padding:0;width:32%}
.bsdextend .ktkbox-icon a{background:#768187;display:inline-block;font-weight:410;color:#fefefe;padding:0 12px;line-height:32px;border-radius:2px;font-size:11px;width:70%}
.ktkbox-icon.facebook a{background:#4db2ec}
.ktkbox-icon.twitter a{background:#19bfe5}
.ktkbox-icon.circle a{background:#d64136}
.ktkbox-info{margin:11px 0 0 0;font-size:12px;text-align:center}
 header form{float:right;width:100%}
/*New Breaking*/
#headlinenews{position:relative;background:#fff;border-bottom:5px solid #5FC6EB;border-top:5px solid #5FC6EB;display:block;height:22px;line-height:22px;overflow:hidden;margin:0 auto 20px;padding:5px 30px;width:980px}
.ads-wrapper{margin:15px auto 0;padding:0;width:auto;max-width:100%;height:auto;text-align:center;list-style:none}
.ads-wrapper img{max-width:100%;height:auto;text-align:center}
.ads-wrapper iframe,.ads-wrapper img{display:block;max-width:100%;height:auto;border:none;overflow:hidden}
.logo-svg{width: auto;height:30px;}
.img-logo{display:flex}
li.whatsapp-mobile{display:none !important;}
.toggle-header-menu{display:none}
/*----Responsive Design----*/
@media screen and (max-width:1138px){.row{width:96%}#main-wrapper{width:69%}#sidebar-wrapper{width:31%}.home-ad .widget-content{margin:0 auto}}
@media screen and (max-width:980px){li.whatsapp-desktop{display:none !important;}li.whatsapp-mobile{display:inline-block !important;}.logo-svg{width: auto;height:27px;}#menu{display:block}.mobile-menu{display:block}li.li-home{float:right;display:inline-block}#content-wrapper{margin:20px auto}#main-wrapper{width:100%}#sidebar-wrapper{width:100%;padding:0;margin:15px 0 0}.sect-left{width:100%;margin-left:0}#footer-sec2,#footer-sec3{margin-top:20px}.header-logo{margin:0 auto;float:none}.header-ads{display:none}}
@media screen and (max-width:880px){#nav1,#menu-navigation-top{display:none}.tm-menu{float:right;width:20%}.tm-menu2{float:left;width:20%}.tm-menu .selectnav{padding:0 5px;height:30px!important;width:110px;font-size:13px;line-height:19px;border-radius:2px!important;-moz-border-radius:2px!important;-webkit-border-radius:2px!important;margin-top:5px}.header-menu #menu .selectnav{padding:0 10px!important;font-size:14px;height:35px;line-height:26px;margin-right:10px;float:right;border-radius:2px!important;margin-top:7px}}
@media only screen and (max-width:728px){.toggle-header-menu{display:flex;margin:0 0 10px;padding:10px;background:#e8e8e8;text-align:center;color:#333;font-size:17px;font-weight:700;cursor:pointer}.navigation-top{height:0;overflow:hidden}.navigation-top li,.navigation-top li a{width:100%}#menu{height:initial;width:100%}#header-menu-toggle:checked~.navigation-top{height:initial}}
@media screen and (max-width:600px){.block-image{width:100%;height:240px;margin:0 0 10px}.index .date-header{float:NONE}.related-posts .related-item{width:100%}.related-posts li:nth-child(2),.related-posts li:nth-child(3){margin-top:15px}#social-footer,.footer-wrapper .copyright{width:100%;text-align:center}.footer-copy .social-ico ul > li{float:none;margin:0 5px}.meta-post{display:none}.post-snip{margin-top:8px}.author-box{text-align:center;padding:10px}.author-info{padding-right:0;width:100%}.author img{float:none;margin:0 0 10px}.OTbar{display:none}}
@media screen and (max-width:440px){.featured-posts .first-item .ty-image,.block-image{height:200px}.featured-posts .first-item .ty-title,#label_with_thumbs li:nth-child(1) .recent-title,.item .post-title{font-size:20px}.error-item{font-size:140px}.index .post h2{font-size:20px;white-space:none}}
@media screen and (max-width:380px){.social-area{display:none}.header-logo{margin-bottom:0}.header-logo img{max-width:100%!important;max-height:100%;margin:10px 0}.error-item{font-size:115px}.file-downloader .buttons > * {width: 100%;margin: 10px 0!important;text-align: center;}.btn{width:unset !important}}
@media screen and (max-width:190px){#outer-wrapper *{font-size:15px !important}.logo-svg{width:auto;height:19px}#cookieChoiceInfo .cookie-choices-button{margin-bottom:3px;display:block !important;margin-left:0 !important;}}
#Stats1_content { text-align: center; font-weight: bold; }
#copy-notif{position:fixed;top:30px;left:0;right:0;text-align:center;display:none;z-index:9999}#copy-notif span{background:#323232;font-size:14px;color:#fff;padding:5px 15px;border-radius:20px}
.blog-title a{color:#323232;font-weight:bold;}.item-time{color:#323232;font-size:13px;}.blog-content{margin:7px auto;}
#cookieChoiceInfo{display:none;z-index:999999!important;background-color:#323232!important;border:1px solid #fff;box-shadow:none;padding:5px 0!important;width:80%;left:0;right:0;bottom:0;top:auto;color:#fff;line-height:140%;padding:10px 0;margin:0 auto}#cookieChoiceInfo .cookie-choices-text{font-size:16px!important;color:#fff!important;text-align:center}#cookieChoiceInfo .cookie-choices-button{background-color:#4db2ec!important;font-size:16px!important;font-weight:normal!important;border-radius:1px!important;box-shadow:none;padding:7px !important;text-transform:none!important;white-space:nowrap;color:#fff;margin-left:8px;display:inline-block;}
*, *::before, *::after {
    box-sizing: border-box;
    font-family:Tajawal;
    justify-content: center;
    align-items: center;
}
.file-downloader {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 10px #00000040;
}
.file-downloader .option {
    font-size: 16px;
    font-weight: bold;
	padding: 15px;
	width: 100%;
	float: left;
}
.file-downloader .option > * {
	float: right;
}
.file-downloader .option > select {
	max-width: 50%;
	height: 40px;
	float: left;
    display: flex;
	padding: 5px 10px;
	border: 1px solid #bdbdbd;
	background: #f4f4f4;
	border-radius: 5px;
	margin-right: 20px;
}
.file-downloader .option > span {
    float: right;
    height: 40px;
    display: flex;
}
.file-downloader .option:nth-child(even) {
	background-color: #e8e8e8;
}
.file-downloader .option:nth-child(odd) {
	background-color: #ccc;
}
.file-downloader .buttons {
	width: max-content;
	margin: auto;
}
.file-downloader .download-btn, .file-downloader .cancel-btn, .file-downloader button {
	padding: 12px 30px;
	display: flex;
	text-decoration: none;
	font-size: 16px;
    font-weight: bold;
	background: #9e9e9e4d;
	border-radius: 100px;
    border: 0;
	margin: 10px 10px 10px;
	float: right;
	color: #575757;
	cursor: pointer;
}
.file-downloader .download-btn.active {
	background-color: #155aff;
	color: #fff;
}
.file-downloader textarea {
	display: none !important;
}
.p-pr{background-color:#ffff0042;display:block;padding:0 9px;font-size:17px;line-height:1.6;margin:3px;border:1px #ffff00 solid;border-radius:11px}
.pp-pr{font-size:17px;text-align:center;line-height:1.6;color:#323232;font-weight:bold}
.principal{
text-align:center;
}
.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px 8px 8px 8px;
    color: #fff;
    background-color: #fbdedb;
    display: inline-block;
    width:45%;
    background: #bf392c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}

/* Colours */
.red {
    background-color: #d55050;
}
.teal {
    background-color: #147a52;
}
.orange {
    background-color: #d55523;
}
.green {
    background-color: #2d760e;
}
.blue {
    background-color: #29219f;
}
.purple {
    background-color: #564f8a;
}
